* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix: after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.slider {
    height: 800px;
    background-image: url(img/slider-img.jpg);
    position: relative;

}

.header {
    padding-top: 63px;
}

.menu {
    float: right;
}

.menu-list {
    list-style-type: none;
    float: left;
}

.menu-link {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 13px;
}

.menu-link-active {
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-decoration: none;
    border-bottom: 3px solid #212121;
}

.slider-text {
    margin-top: 283px;
}

.slider-trending {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.slider-h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    text-align: left;
    text-transform: uppercase;
}

.slider-content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    width: 458px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 24px;
}

.button {
    color: #212121;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    width: 212px;
    height: 46px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 3.6px;
}

.circle {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #c7c7c7;
    border-radius: 50%;
    margin: 5px;
}

.circle-active {
    width: 40px;
    height: 40px;
    background-color: #212121;
    margin-bottom: -2px;
}

.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}

.pagination {
    position: absolute;
    width: 1170px;
    bottom: 19px;
    text-align: center;
}

.menu-link:hover {
    color: #212121;
    font-weight: 700;
}

.menu-link-active:hover {
    color: #c7c7c7;
    border-bottom: 1px solid #c7c7c7;

}
.menu-link:active{
    color: #212121;
    text-decoration: none;
}
.circle:hover {
    background-color: #212121;
}

a.button:active {
    box-shadow: none;
}

a.button:hover {
    color: #c7c7c7;
}

/*Второй блок*/

.block {
    height: 489px;
    background-color: #ffff;
    padding-left: 98px;
    margin-top: 120px;
}

.header2 {
    position: relative;
}

.menu2-list,
.productmenu-list {
    list-style-type: none;
    float: left;
}

.menu2-link {
    width: 80px;
    height: 25px;
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    text-decoration: none;
    border-bottom: 1px solid #6c6c6c;
}

.menu2-link:hover {
    color: #212121;
}

.menu2-link-active {
    height: 27px;
    width: 158px;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    text-decoration: none;
    border-bottom: 3px solid #212121;
    margin-top: 120px;
}

.menu2-link-active:hover {
    color: #6c6c6c;
    border-bottom: 1px solid #6c6c6c;
}


.menu2-link2 {
    list-style-type: none;
    float: right;
    color: #212121;
    font-size: 13px;
    width: 158px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    text-decoration: none;
    margin-right: 118px;
}

.menu2-link2:hover {
    color: #6c6c6c;
}

.block-pic {
    padding-top: 100px;

}

.block-pic-product {
    width: 270px;
    height: 270px;
    display: inline-block;
    padding-left: 30px;
}

.block-text {
    width: 270px;
    height: 270px;
    background-image: url(img/back.svg);
    position: relative;
    float: left;
}

.roundbutton {
    background-color: #ffff;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    display: inline-block;
    margin-top: 62px;
    margin-left: 111px;
}

.roundbutton:hover {
    box-shadow: none;
}

.arrow {
    width: 45%;
    height: 45%;
    padding: 14px 18px;

}

.text-h4 {
    width: 145px;
    height: 17px;
    color: #212121;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 29.88px;
    text-align: center;
    margin-left: 63px;
    padding-top: 19px;
}

.text-content {
    width: 206px;
    height: 33px;
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 21.91px;
    text-align: center;
    margin-left: 32px;
    padding-top: 23px;
}

/*Третий блок*/

.promo {
    padding-left: 50px;
}

.item1 {
    width: 633px;
    height: 683px;
    background-image: url(img/promo-img1.jpg);
    display: inline-block;
    float: left;

}

.item2 {
    width: 633px;
    height: 683px;
    background-image: url(img/promo-img.jpg);
    display: inline-block;
    float: left;
   
}

.exclusive {
    width: 115px;
    height: 13px;
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    line-height: 48px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    padding-top: 228px;

}

.promo-h3 {
    width: 236px;
    height: 28px;
    color: #212121;
    font-size: 33px;
    font-weight: 700;
    text-align: left;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    margin-top: 31px;

}

.promo-content {
    width: 374px;
    height: 36px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24.04px;
    text-align: left;
    font-style: normal;
    letter-spacing: normal;
    margin-top: 20px;
    margin-bottom: 34px;

}


/*Четвертый блок*/
.block4 {
    height: 989px;
    margin-top: 119px;
    display: inline-block;
}

.header3 {
    position: relative;
}

.trending-h2 {
    width: 331px;
    height: 35px;
    color: #212121;
    font-size: 33px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    padding-left: 98px;

}

.block4-pic {
    padding-left: 98px;
    padding-top: 64px;

}

.trending-products {
    width: 370px;
    height: 370px;
    display: inline-block;
    float: left;
    margin-right: 30px;
    text-align: center;
    padding-bottom: 30px;
}

/*Блок 5*/
.block5 {
    height: 800px;
    background-image: url(img/slider.jpg);
}

.slider-text2 {
    padding-top: 287px;
    padding-left: 98px;
}

.slider-hotdeal {
    width: 105px;
    height: 13px;
    color: #e53935;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: normal;
    display: inline-block;
}

.pagination2 {
    position: relative;
    width: 1170px;
    bottom: 19px;
    text-align: center;
    display: inline-block;
    margin-top: 222px;
    padding-left: 98px;
}

/*Блок6*/
.block6 {
    width: 1170px;
    padding-top: 120px;
    padding-left: 98px;
    display: inline-block;
}

.promo2 {
    padding-left: 30px;
}

.item3 {
    width: 540px;
    height: 570px;
    background-image: url(img/product-1-lg.jpg);
    display: inline-block;
    float: left;
    margin-right: 30px;
}

.exclusive2 {
    padding-top: 186px;
}

.promo-item3 a {
    display: block;
}

.block6-pic {
    width: 540px;
    height: 570px;
    display: inline;
}

.products {
    width: 270px;
    height: 270px;
    display: inline-block;
    float: left;
    text-align: center;
    padding-bottom: 30px;
    padding-right: 15px;
}


/*Блок7*/
.block7 {
    height: 516px;
    background-image: url(img/back-img.jpg);
    margin-top: 120px;
}

.block7-text {
    margin-top: 125px;
    padding-left: 99px;
    display: inline-block;
}

.mobileapp {
    width: 128px;
    height: 13px;
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 22px;

}

.find {
    width: 407px;
    height: 116px;
    color: #212121;
    font-size: 52px;
    font-weight: 200;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 26px;
    padding-left: 7px;
}

.block7-content {
    width: 413px;
    height: 21px;
    color: #6c6c6c;
    font-size: 21px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    padding-bottom: 33px;
}

/*Footer*/
.footer {
    height: 384px;
    width: 1366px;
    background-image: url(img/footer-back.svg);
    display: inline-block;
}

.row1 {
    padding-left: 99px;
    padding-top: 120px;
    display: inline-block;
}

.contacts {
    float: left;
}

.contact {
    width: 132px;
    height: 13px;
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 18px;
    text-align: left;
    text-transform: uppercase;
}

.address {
    width: 221px;
    height: 102px;
    color: #212121;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 22px;
    text-align: left;
    padding-top: 24px;
}

.usefulinfo {
    width: 422px;
    float: left;
    padding-left: 80px;
}

.info {
    width: 237px;
    height: 13px;
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: left;
    text-transform: uppercase;

}

.infolinks {
    color: #212121;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;
    text-align: left;
    text-transform: uppercase;
    padding-top: 25px;
    column-gap: 103px;
    column-width: 132px;
}

.infolinks li {
    list-style-type: none;

}

.left{
    width: 132px;
    display: inline-block;
    float: left;
}
.right{
    width: 187px;
    display: inline-block;
    float: right;
}

.intouchform {
    float: left;
    padding-left: 78px;
}

.intouch {
    width: 230px;
    height: 13px;
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: left;
    text-transform: uppercase;
}

input[type="email"] {
    width: 370px;
    height: 48px;
    border: 1px solid #d9dee1;
    background-color: #ffffff;
}

.subscribe {
    width: 363px;
    height: 36px;
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 22px;
    text-align: left;
    padding-top: 24px;
    padding-bottom: 26px;
}

.copy {
    display: inline-block;
    float: left;
    padding-left: 98px;
    padding-top: 53px;
}

.copyright {
    width: 362px;
    height: 9px;
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;
    text-align: left;
    text-transform: uppercase;

}

.icons {
    display: inline-block;
    float: left;
    padding-left: 158px;
    padding-top: 50px;
}

.icon {
    height: 30px;
    width: 30px;
}


.terms {
    width: 350px;
    height: 12px;
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;
    text-align: right;
    text-transform: uppercase;
    display: inline-block;
    padding-left: 172px;
    padding-top: 67px;
}

/*Вторая страница*/
.slider2.padding-site {
    height: 360px;
    background-color: #f5f5f5;
    position: relative;
}
.slider2-text{
    margin-top: 168px;
}
.our {
    width: 575px;
    height: 58px;
    color: #212121;
    font-size: 57px;
    font-weight: 200;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;

}

/*Второй блок*/

.productheader {
    padding-left: 105px;
    padding-top: 71px;
}

.productmenu-list {
    padding: 10px 13px;
}

.productmenu-link {
    width: 647px;
    height: 13px;
    color: #212121;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;

}

.productmenu-link-active {
    color: #6c6c6c;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 3px solid #212121;
}
.range{
    width: 370px;
    height: 370px;
    display: inline-block;
    float: left;
    text-align: center;
    padding-bottom: 30px;
    padding-right: 30px;
}
.blockpromo{
    margin-top: 210px;
    display: inline-block;
    float: left;
}